---
import Base from "../layouts/Base.astro";
---

<Base title="Adults – Cara Colgate, LICSW" currentPage="adults">
  <div class="content">
    <img
      class="upper-left"
      src="/images/adults-stones.jpg"
      alt="Stacked stones balanced on a rock by the ocean"
    />
    <p>
      My approach is warm, collaborative, and open-minded. While my clinical
      foundation is in insight-oriented and CBT therapies, Internal Family
      Systems (IFS or “parts work") is now the heart of my practice. IFS is a
      non-pathologizing evidence based modality. IFS offers a compassionate and
      empowering approach to understanding and healing inner conflicts and
      living a more fulfilling life. I’ve seen firsthand how transformative and
      healing IFS can be. When helpful, I can blend approaches to best support
      your strengths and goals.
    </p>
    <p>
      As a seasoned psychotherapist, I have worked with a wide range of
      individuals from diverse backgrounds and in all life stages. I am both
      neuro and LGBTQ+ affirming. In my relationship work, I help partners and
      family members communicate more openly, understand each other more deeply,
      and create a stronger, more compassionate connection.
    </p>
    <p>
      If you’re struggling to find your way, heal from past experiences, or
      connect and communicate differently, please <a href="/connect/"
        >reach out</a
      > to discuss how I can help.
    </p>
  </div>
</Base>
