---
import Base from "../layouts/Base.astro";
---

<Base title="More Info – Cara Colgate, LICSW" currentPage="info">
  <div class="content">
    <img
      class="upper-left"
      src="/images/office.jpg"
      alt="Welcoming therapy office with comfortable chairs and warm lighting"
    />
    <p>
      For address and contact information, please <a href="/connect/"
        >click here</a
      >.
    </p>
    <p>I also offer telehealth sessions for clients in Massachusetts.</p>

    <h2>Rates &amp; Insurance</h2>
    <p>My rate is $180 for a 53 minute session.</p>
    <p>
      I am currently empaneled by Blue Cross/Blue Shield. In addition, I am
      happy to provide you with an invoice or “super bill” to submit to your
      insurance company for reimbursement as an "out-of-network" provider. I
      recommend that you contact your health insurance company first to find out
      about your specific out-of-network coverage.
    </p>
    <p>
      Also note that Health Spending or Flexible Spending Accounts often
      consider therapy an approved expense.
    </p>

    <h2>Cancellation Policy</h2>
    <p>
      I save your appointment time for you. If you are unable to attend a
      session, please let me know 48 hours prior to the appointment to avoid
      being charged for the session.
    </p>
  </div>
</Base>
